<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:title" content="Toolhunt Dashboard">
  <meta property="og:type" content="website">
  <meta property="og:description" content="Displaying user information and Toolhunt metrics">
  <link rel="icon" href="../assets/icons/favicon.svg">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../assets/css/normalize.css">
  <link rel="stylesheet" href="../assets/css/style.css">
  <title>Dashboard | Toolhunt</title>
</head>

<body>

  <header>
    <nav>
      <a class="toolhub-link" href="https://toolhub.wikimedia.org/"><img src="../assets/icons/logo-solid-white.svg"
          title="Toolhub" alt="Toolhub"></a>
      <div class="link-container">
        <a href="./leaderboard.html">Leaderboard</a>
        <a href="../index.html">Home</a>
      </div>
    </nav>
  </header>
  <main>
    <div class="container row">
      <img src="../assets/icons/toolhub-logo.svg" width="80px" height="80px" alt="ToolHub logo">
      <div>
        <h1 class="user-name"></h1>
        <p>Here on the Dashboard, you can view your latest contributions and check out global contributions and
          statistics about
          the Toolhunt project.</p>
      </div>
    </div>

    <section class="row container">
      <table class="shadowed" id="my-contributions">
        <caption>
          <h3 class="table-title clr-white bg-blue">My Contributions</h3>
        </caption>
        <thead>
          <tr>
            <th scope="col">
              <h4>Date</h4>
            </th>
            <th scope="col">
              <h4>Contribution</h4>
            </th>
          </tr>
        </thead>
        <tbody id="user-contributions">
        </tbody>
      </table>
      <div class="card shadowed border">
        <h3 class="card-title bg-grey">Contribution Stats</h3>
        <div class="card-body">
          <div class="card-text">
            <p>My contributions in the last 30 days:</p>
            <p>My total contributions: </p>
            <p>Global contributions in the last 30 days: </p>
            <p>Total contributions: </p>
          </div>
          <div class="card-text">
            <p id="user-contributions-recent">1</p>
            <p id="user-contributions-total">1</p>
            <p id="global-contributions-recent">1</p>
            <p id="global-contributions-total">1</p>
          </div>
        </div>
      </div>
    </section>

    <section class="row container">
      <div>
        <div class="card shadowed border">
          <h3 class="card-title bg-grey">Toolhub at a Glance</h3>
          <div class="card-body">
            <div class="card-text">
              <p>Number of tools on record: </p>
              <p>Number of tools with missing data: </p>
              <p>Percentage of tools with missing data: </p>
            </div>
            <div class="card-text">
              <p id="tool-num-total">1</p>
              <p id="tool-missing-data-total">1</p>
              <p id="tool-missing-data-percent">1</p>
            </div>
          </div>
        </div>
        <div class="card shadowed border">
          <h3 class="card-title bg-grey">Another Card</h3>
          <div class="card-body">
            <div class="card-text">
              <p>I really couldn't think of anything to put here. This is just me playing with the layout. Perhaps
                another chart would be appropriate.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card shadowed border">
        <h3 class="card-title bg-grey">How Much Are We Missing?</h3>
        <div class="card-body row">
          <div class="chart-text">
            <p>Currently, <b><span id="one-to-ten"></span>%</b> of tools on Toolhub are missing from one to 10 values.
              <b>
                <span id="eleven"></span>%
              </b> are missing 11 values, <b><span id="twelve"></span>%</b> are missing 12 values, and <b>
                <span id="thirteen"></span>%
              </b>are missing 13 values!
            </p>
          </div>
          <div class="padding-bottom graph-container">
            <canvas id="missing-values-count"></canvas>
          </div>
        </div>
      </div>
    </section>

    <table class="shadowed inline-auto" id="latest-activity">
      <caption>
        <h3 class="table-title clr-white bg-blue">Latest Activity</h3>
      </caption>
      <thead>
        <tr>
          <th scope="col">
            <h4>Date</h4>
          </th>
          <th scope="col">
            <h4>User</h4>
          </th>
          <th scope="col">
            <h4>Contribution</h4>
          </th>
        </tr>
      </thead>
      <tbody id="global-contributions">
      </tbody>
    </table>

  </main>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"
    integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="../assets/js/dashboard.js"></script>
</body>

</html>