<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../assets/css/normalize.css">
  <link rel="stylesheet" href="../assets/css/style.css">
  <title>ToolHunt: Dashboard</title>
</head>

<body>

  <header>
    <nav>
      <a class="toolhub-link" href="https://toolhub.wikimedia.org/"><img src="../assets/icons/logo-solid-white.svg"
          title="Toolhub" alt="Toolhub"></a>
      <div class="link-container">
        <a href="./leaderboard.html">Leaderboard</a>
        <a href="../index.html">Home</a>
      </div>
    </nav>
  </header>
  <main>

  </main>


  <script src="../assets/js/dashboard.js"></script>
</body>

</html>