<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="icon" href="../assets/icons/favicon.svg">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../assets/css/normalize.css">
  <link rel="stylesheet" href="../assets/css/style.css">
  <title>Leaderboard | ToolHunt</title>
</head>

<body>
  <header>
    <nav>
      <a class="toolhub-link" href="https://toolhub.wikimedia.org/"><img src="../assets/icons/logo-solid-white.svg"
          title="Toolhub" alt="Toolhub"></a>
      <div class="link-container">
        <a href="./dashboard.html">Dashboard</a>
        <a href="../index.html">Home</a>
      </div>
    </nav>
  </header>
  <main>
    <div class="container row">
      <img src="../assets/icons/toolhub-logo.svg" width="100px" height="100px" alt="ToolHub logo">
      <div>
        <h1>ToolHunt Leaderboard</h1>
        <p>Recognizing the users who have hunted down the most references, this month and for all time. Thank you for
          your
          contributions!</p>
      </div>
    </div>
    <div class="container table-container">
      <table class="shadowed">
        <thead>
          <tr>
            <th class="table-title" colspan="2">
              <h2>Top Hunters from the Last 30 Days</h2>
            </th>
          </tr>
          <tr>
            <th scope="col">
              <h3>User</h3>
            </th>
            <th scope="col">
              <h3>Contributions</h3>
            </th>
          </tr>
        </thead>
        <tbody id="latest">
        </tbody>
      </table>
      <table class="shadowed">
        <thead>
          <tr>
            <th class="table-title" colspan="2">
              <h2>All Time Greats</h2>
            </th>
          </tr>
          <tr>
            <th scope="col">
              <h3>User</h3>
            </th>
            <th scope="col">
              <h3>Contributions</h3>
            </th>
          </tr>
        </thead>
        <tbody id="allTime">
        </tbody>
      </table>
    </div>
  </main>
  <script src="../assets/js/leaderboard.js"></script>
</body>

</html>