:root {
  --lgt-grey: #f8f9fa;
  --blue: #3366cc;
  --lgt-blue: #527dd3;
  --black: #202122;
  --shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  --border: 1px solid #e7e7e7;
}

/*  Typography */

html {
  font-family: Roboto, sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 2.125rem;
  line-height: 2.5rem;
  margin: 12px 4px;
}

h2 {
  font-size: 1.75rem;
  line-height: 2rem;
}

h2.reduced-size {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 2rem;
}

/* Utility */

.spacer {
  margin-block: 2rem;
}

/* Visuals */

.shadowed {
  box-shadow: var(--shadow);
  border: var(--border);
}

body *:not(nav) {
  border-radius: 4px;
}

a[target="_blank"] {
  color: var(--blue);
  text-decoration: underline;
}

/* ---- Components/containers -------- */

/* ------ General Elements ----------  */

input:not([type="checkbox"]),
select {
  border: var(--border);
  box-shadow: var(--shadow);
  line-height: 20px;
  margin-block: 5px;
  padding: 8px 10px;
  width: 100%;
  max-width: 800px;
}

input:first-of-type {
  margin-top: 12px;
}

input:last-of-type {
  margin-bottom: 12px;
}

input[type="checkbox"] {
  margin-right: 5px;
  margin-bottom: 0px;
}

select {
  max-width: 400px;
  background-color: white;
}

/* ------ Navigation -------  */

nav {
  height: 56px;
  padding-block: 4px;
  padding-left: 1rem;
  padding-right: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--blue);
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}

nav > .link-container > a {
  margin-left: 0.25rem;
  padding: 4px 10px;
}

nav > .link-container > a:hover {
  background-color: var(--lgt-blue);
}

.toolhub-link {
  display: inline-block;
  height: 2.5rem;
  width: 2.5rem;
}

/* ------ Containers & Cards -------- */

.container {
  padding: 12px 20px;
  margin-inline: auto;
}

.container.container-small {
  max-width: 900px;
}

.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.offset > button {
  margin-top: 8px;
}

.card {
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

.card-header {
  height: 48px;
  background-color: var(--lgt-grey);
}

.card-title {
  padding: 1rem;
}

.card-text {
  font-size: 0.875rem;
  line-height: 1.375rem;
}

@media (min-width: 900px) {
  .row {
    flex-direction: row;
    gap: 1rem;
  }

  .container {
    margin-block: 1rem;
  }

  .offset * {
    align-self: flex-end;
    margin-right: 24px;
  }
}

@media (min-width: 1264px) {
  .container {
    max-width: 1185px;
  }
}

/* -- Tables (Leaderboard page) -- */

table {
  width: 100%;
  margin-inline: auto;
  margin-bottom: 3rem;
  border-collapse: collapse;
}

th[scope="col"] {
  text-align: left;
}

tr > * {
  padding: 4px 16px;
}
tbody > tr:nth-child(odd) {
  background-color: var(--lgt-grey);
}

.table-title {
  padding: 12px 16px;
  background-color: var(--lgt-blue);
  color: white;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

@media (min-width: 1000px) {
  table {
    max-width: 900px;
  }
}
